@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    --Cyan: hsl(179, 62%, 43%);
    --Cyann: hsl(179, 66%, 44%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    --white: hsl(0, 0%, 100%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);      
}

html{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
h1{
    font-size: 1.25em;
    color: var(--Cyann);
    margin-bottom: 1em;
}
h2{
   font-size: 1.1em; 
   font-weight: 700;
   margin-bottom: 1em;
}

body{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 375px;
    background-color: var(--Light-Gray);
    padding: 3em;
}
.container{
    height: 727px;
    width: 310px;
}
.item{
    padding: 1.8em;
    text-align: left;
}
.inicio b{
    font-size: 1em;
    color: var(--Bright-Yellow);
}
.item p{
    font-size: .84em;
    font-weight: 400;
    line-height: 1.8em;
}
.item:nth-child(1){
    background-color:var(--white);
    height: 268px;
    color: var(--Grayish-Blue);
    border-start-start-radius: .4em;
    border-start-end-radius: .4em;
}
.item:nth-child(2){
    background-color:var(--Cyan);
    color: var(--white);
    height: 229px;
}
.item-price b{
    font-size: 2em;
}
span{
    font-size: 1em;
    opacity: .8;
    margin-left: .8em;
}
.item-price p{
    margin-top: .8em;
    margin-bottom: .8em;
    font-size: 1em;
}
button{
    border: 1px solid var(--Cyan);
    border-radius: .4em;
    background-color: var(--Bright-Yellow);
    width: 260px;
    height: 50px;
    color: var(--white);
    font-weight: 700;
    font-size: .9em;
    margin-top:0;
    
}
.item:nth-child(3){
    background-color: var(--Cyann);
    height: 228px;
    color: var(--white);
    border-end-end-radius: .4em;
    border-end-start-radius: .4em;
}
#tuto{
    width: 70%;
    line-height: 1.5em;
    font-weight: 400;
    font-size: .85em;
    color: var(--Light-Gray);
}
.footer{
    display: none;
}

@media(min-width: 1200px){
    body{
        width: 1200px;
    }
    h1{
        margin-top: .5em;
        margin-bottom: .9em;
        font-size: 1.5em;
    }
    .container{
        display: grid;
        margin: auto;
        width: 635px;
        height: 475px;
        grid-template-columns: 50% 50%;
    }
    .item:nth-child(1){
        grid-column: 1/3;
        height: 216px;
    }
    .item:nth-child(2){
        height: 261px;
        border-end-start-radius: .4em;

    }
    .item:nth-child(3){
        height: 261px;
        border-end-start-radius: 0;
    }
    .inico b{
        font-size: 1.1em;
    }
    .item p{
        font-size: 1em;
    }

}